<h2>Seja bem vindo, @TempData["NomeUsuario"]! </h2>

<div class="mt-8">
<a class="btn btn-warning">Histórico de Serviços</a>
<a class="btn btn-success" asp-action="ConsultarDetalhamento" asp-route-id="@TempData["IdUsuario"]">Serviço atual</a>
</div>