@model UsuarioModel

@{
    Layout = "../Shared/_Layout_Login.cshtml";
}

<div class="container-fluid p-1 rounded" style="background-color: #FDF9BC;">
    <img src="~/img/crmautofr.jpg" alt="CRM Auto" width="120" height="70" style="margin-left: 1rem;"></img>
</div>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div id="text">
      <h1> Login de Cliente</h1>
      <br><br>
      <p> Faça seu login para ter acesso a <br> informações sobre seu serviço</p>
    </div>

    <form asp-controller="Cliente" asp-action="ValidarLogin">
      <input type="email" id="login" class="fadeIn second" placeholder="acesso@email.com" asp-for="Login_usuario">
      <input type="password" id="password" class="fadeIn third" placeholder="Senha de acesso" asp-for="Senha_usuario">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a senha?</a>
    </div>

  </div>
</div>

<!-- Footer -->
<footer class="bg-light text-center fixed-bottom">
<!-- Copyright -->
    <div class="text-center p-2" style="color: #051821; background-color: #FDF7FF">
        © Copyright CRM Auto 2022
  </div>
  <!-- Copyright -->

</footer>