@model UsuarioModel

@{
    Layout = "../Shared/_Layout_Login_client.cshtml";
}

<div class="container-fluid p-1 rounded" style="background-color: #051821;">
    <img src="images/crmautodark.jpg" alt="CRM Auto" width="120" height="70" style="margin-left: 1rem;">
</div>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div id="text">
      <h1> Login de Cliente </h1>
      <br>
      <p> Faça seu login para ter acesso a informações sobre seus serviços</p>
    </div>

    <form asp-controller="Cliente" asp-action="ValidarLogin">
      <input type="email" id="LOGIN_USUARIO" class="fadeIn second" placeholder="acesso@email.com" asp-for="Login_usuario">
      <input type="password" id="SENHA_USUARIO" placeholder="Senha de acesso" asp-for="Senha_usuario">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a senha?</a>
    </div>

  </div>
</div>

<!-- Footer -->
<footer class="bg-light text-center fixed-bottom">
<!-- Copyright -->
    <div class="text-center text-white p-2" style="background-color: #687A86">
        © Copyright CRM Auto 2022 </a>
  </div>
  <!-- Copyright -->

</footer>