@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --nav-width: 68px;
    --first-color: #687A86;
    --first-color-light: #BACDDA;
    --second-color-light: #FDF9BC;
    --third-color-light: #A5DCBF ;
    --white-color: #FDF7FF;
    --text-color: #051821;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 0.8rem;
    --z-fixed: 90
}

.toast-body{
    padding: 3rem;
}

h1, p{
    text-align: center;
}

.container{
    padding: 1rem;
    align-items: center;
}

.btn{
    background-color: #BACDDA;
    color: #051821;
    box-shadow: 0px 4px 4px #687A86;
    border-radius: 20px 0px;
    height: 2.7rem;
    display:inline-block;
    text-align: center;
    padding: 1.rem;
}

.btn:hover{
    background-color: #051821;
    color: #BACDDA;
}

.btn:active{
    background-color: #051821;
    -webkit-box-shadow: inset 0px 0px 5px #687A86 ;
    -moz-box-shadow: inset 0px 0px 5px #687A86;
    box-shadow: inset 0px 0px 5px #687A86;
    box-shadow: 0px 4px 4px #384249;
    outline: none;
}