@{

<div class="table-responsive-sm">
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> ID FUNCIONÁRIO</th>
            <th scope="col"> NOME</th>
            <th scope="col"> FUNÇÃO</th>
            <th scope="col"> ID OFICINA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OficinaModel oficina in ViewBag.BuscarOficinas)
        {
        <tr>
            <td>@oficina.Nome_oficina</td> 
        </tr>
        }
    </tbody>
 </table>
</div>
}