@using CRM_Auto.Models
@model VeiculoModel
    
@{
    Layout = "../Shared/_Layout_Cadastro_Veiculo.cshtml";
}

<header class="header" id="header">
    <div class="header_toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>
    <div id="header_user" class="header_img">
        <button id="dropdownMenuButton" type="button" class="btn btn-secondary btn-user dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 22">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
            </svg>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Configurações</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sair</a>
        </div>
    </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'></i>
                <span class="nav_logo-name">CRMAuto</span>
            </a>
            <div class="nav_list">
                <a href="#" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon' data-bs-toggle="tooltip" title="Painel"></i>
                    <span class="nav_name">Painel</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon' data-bs-toggle="tooltip" title="Ordens de serviços"></i>
                    <span class="nav_name">Ordens de serviços</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bookmark nav_icon' data-bs-toggle="tooltip" title="Orçamentos"></i>
                    <span class="nav_name">Orçamentos</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bi bi-people nav_icon' data-bs-toggle="tooltip" title="Clientes"></i>
                    <span class="nav_name">Clientes</span>
                </a>
                <a href="#" class="nav_link">
                    <i class="bi bi-wrench-adjustable nav_icon" data-bs-toggle="tooltip" title="Oficina"></i>
                    <span class="nav_name">Oficina</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bi bi-person-video2 nav_icon' data-bs-toggle="tooltip" title="Funcionários"></i>
                    <span class="nav_name">Funcionários</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon' data-bs-toggle="tooltip" title="Relatórios"></i>
                    <span class="nav_name">Relatórios</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-user nav_icon' data-bs-toggle="tooltip" title="Usuários"></i>
                    <span class="nav_name">Usuários</span>
                </a>
            </div>
        </div>
        <a href="Homepage.html" class="nav_link">
            <i class='bx bx-log-out nav_icon' data-bs-toggle="tooltip" title="Sair"></i>
            <span class="nav_name">Sair</span>
        </a>
    </nav>
</div>
<!--Container Main start-->
<div id="idContainer">
    <!-- class="bg-light"-->

    @if (TempData["veiculoCadastrado"] != null)
    {
        <div class="alert alert-success">@TempData["veiculoCadastrado"]</div>
    }

    <form asp-action="OperacaoCadastroVeiculo">
        <div class="row">
            <div class="form-group col-md-3">
                <label class="form-label">Marca do veículo</label>
                <select class="form-control" onchange="SelectMarca(this)">
                    <option>Selecione a marca</option>
                    @foreach (MarcaModel marca in ViewBag.Marcas)
                    {
                        <option value="@marca.IdMarca">@marca.MarcaNome</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdModelo" class="form-label"></label>
                <select id="sModeloSelect" asp-for="IdModelo" class="form-control">
                    <option>Selecione o modelo</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Placa" class="form-label"></label>
                <input asp-for="Placa" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label asp-for="Motorizacao">Motorização</label>
                <input class="form-control" placeholder="1.0, 2.0..." asp-for="Motorizacao">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="AnoFabricacao">Ano de fabricação</label>
                <input class="form-control" asp-for="AnoFabricacao">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="AnoModelo">Ano modelo</label>
                <input class="form-control" placeholder="2000" asp-for="AnoModelo">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Renavan"></label>
                <input class="form-control" asp-for="Renavan">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Cor"></label>
                <select class="form-control" asp-for="Cor" asp-items="@Html.GetEnumSelectList<Cor>()">
                    <option>Selecione a cor</option>
                </select>
            </div>
        </div>

        <div>
            <input type="submit" id="ok" name="ok" class="btn btn-primary" value="Ok">
        </div>
    </form>
</div> <!-- FIM DIV CONTAINER -->


<script>

    function SelectMarca(e){
        document.getElementById('sModeloSelect').options.length = 0;
        console.log(e.value)
        $.post("SelecionaModelosMarca", {IdMarca: e.value}, function(result,status,xhr) {
            console.log(`data: ${result}, status: ${status}`);
            if (status === 'success') {
                const options = $("#sModeloSelect");
                options.innerHTML = "";
                //don't forget error handling!
                for (let i = 0; i < result.length; i++) {
                    const item = result[i];
                    console.log(item)
                    options.append('<option value="' +item.idModelo + '">' + item.nomeModelo + '</option>');
                }
            }
        })
    }

</script>