@using CRM_Auto.Models
@model ServicoModel

@{
    Layout = "../Shared/_Layout_Cadastro_Funcionario.cshtml";
}

<header class="header" id="header">
    <div class="header_toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>
</header>

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <div href="#" class="col p-2">
                <img src="~/img/crmautodark.jpg" class="img-fluid" alt="CRM Auto" style="width: 60%; height: auto; margin-left: -10px; margin-top: -15px;">
            </div>
            <div class="nav_list">
                <a href="/Oficina/Sucesso" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon' data-bs-toggle="tooltip" title="Painel"></i>
                    <span class="nav_name">Painel</span>
                </a>
                <a href="/Oficina/OrdemServico" class="nav_link">
                    <i class='bi bi-clipboard2-minus-fill nav_icon' data-bs-toggle="tooltip" title="Ordens de serviços"></i>
                    <span class="nav_name">Ordens de serviços</span>
                </a>
                </a>
                <a href="/Oficina/CadastroVeiculo" class="nav_link">
                    <i class='fas fa-car-alt nav_icon' data-bs-toggle="tooltip" title="Veículos"></i>
                    <span class="nav_name">Veículos</span>
                </a>
                <a asp-controller="Oficina" asp-action="BuscarOficinas" class="nav_link">
                    <i class="bi bi-wrench-adjustable nav_icon" data-bs-toggle="tooltip" title="Oficinas"></i>
                    <span class="nav_name">Oficinas</span>
                </a>
                <a asp-controller="Oficina" asp-action="BuscarFuncionariosEOficinas" class="nav_link">
                    <i class='bi bi-person-video2 nav_icon' data-bs-toggle="tooltip" title="Funcionários"></i>
                    <span class="nav_name">Funcionários</span>
                </a>
                <a asp-controller="Oficina" asp-action="BuscarServicos" class="nav_link">
                    <i class='bi bi-bag-plus nav_icon' data-bs-toggle="tooltip" title="Serviços"></i>
                    <span class="nav_name">Serviços</span>
                </a>
                <a asp-controller="Oficina" asp-action="GerarRelatorioEmPDFFuncionarios" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon' data-bs-toggle="tooltip" title="Relatórios"></i>
                    <span class="nav_name">Relatórios</span>
                </a>
            </div>
        </div>
        <a href="/Home/Index" class="nav_link">
            <i class='bx bx-log-out nav_icon' data-bs-toggle="tooltip" title="Sair"></i>
            <span class="nav_name">Sair</span>
        </a>
    </nav>
</div>

<div class="mx-auto" id="main">
    <h2 style="font-weight: bold; margin-top: 40px; margin-bottom: 30px">Serviços</h2>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    @if (TempData["servicoIncluido"] != null)
    {
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <div id="mensagem">
                <h6>@TempData["servicoIncluido"]</h6>
            </div>
        </div>
    }

    <br />
    <div class="container">
        <div class="row">
            <div class="input-group col-sm">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search small"></i></span>
                <input id="tableSearch" type="text" class="form-control col-5" placeholder="Pesquise um serviço" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm">
                <button type="button" id="btnAbrirModal" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addServico"><i class="bi bi-plus"></i> Novo serviço</button>
            </div>
        </div>
    </div>

    @{
        <div onload="init" class="tbl-container bdr" asp-controller="Oficina">
            <table class="table align-middle mb-0 bg-white table-striped table-bordered" id="showTable">
                <thead class="bg-light">
                    <tr>
                        <th>ID Serviço</th>
                        <th>Descrição</th>
                        <th>Tempo de execução</th>
                        <th>Custo da hora</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody id="table-servicos">

                    @foreach (ServicoModel servico in ViewBag.BuscarServicos)
                    {
                        <tr>
                            <td scope="row">
                                <div class="d-flex align-items-center">
                                    <p class="fw-bold mb-1" id="servicoID" asp-for="IdServico">@servico.IdServico</p>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1" id="servicoDescricao" asp-for="Descricao">@servico.Descricao</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1" id="servicoTempo" asp-for="TempoDeExecucao">@servico.TempoDeExecucao.TotalMinutes minutos</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1" id="servicoCusto" asp-for="CustoHora">R$@servico.CustoHora</p>
                            </td>
                            <td>
                                <button type="button"
                                    class="btn btn-secondary btn-sm btnInativarServico"
                                    data-mdb-ripple-color="dark" data-placement="right" title="Inative o serviço ofertado">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<!------------------------------------MODAL-------------------------------------->

<div class="modal fade modal-fullscreen-xl hide modal" id="addServico" tabindex="-1" role="dialog" aria-labelledby="addServicoLabel" aria-hidden="true" style="width: 100% !important; border: 0">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="addServicoLabel">Cadastre um novo serviço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{
                <form asp-controller="Oficina">
                    <div class="modal-body">
                        <div class="form-group col-8">
                            <label for="servicoDescricao">Descricão (*)</label>
                            <input type="text" class="form-control" id="servicoDescricao" required placeholder="Informe o nome do serviço" asp-for="Descricao">
                        </div>

                        <div class="form-group col-8">
                            <label for="servicoTempo">Tempo previsto para execução (*)</label>
                            <input type="time" class="form-control" id="servicoTempo" placeholder="Informe o tempo de execução do serviço" asp-for="TempoDeExecucao">
                        </div>

                        <div class="form-group col-8">
                            <label for="servicoCusto">Custo-hora do serviço (*)</label>
                            <input asp-for="CustoHora" class="form-control" id="servicoCusto" placeholder="Informe o custo-hora do serviço">
                        </div>
                        <div class="form-group row">
                            <div class="form-group">
                                <small>(*) Campos obrigatórios</small>
                            </div>
                        </div>

                        <div class="form-group row pb-3 float-end">
                            <div class="col-sm-17">
                                <button type="submit" class="btn btn-success btn-sm" id="btnInsert" asp-action="InserirNovoServico">Inserir</button>
                                <button type="reset" class="btn btn-secondary btn-sm" id="btnClear">Limpar formulário</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>


<script>

    $(document).ready(function() {

        setTimeout(function() {
            $(".alert").fadeOut("slow", function() {
                $(this).alert('close');
            });
        }, 2000);


</script>