@{
    Layout = "../Shared/_Layout_Menu_Funcionario.cshtml";
}

    <div class="container-fluid p-1 rounded" style="background-color: #687A86;">
        <img src="~/img/crmauto.jpg" alt="CRM Auto" width="120" height="70" style="margin-left: 1rem;">
        Painel de controle
    </div>
    <br />
    
    <div class="toast-body" >
        <h1>Seja bem vindo!</h1>
        <p>O que você deseja fazer?</p>
    </div>
    <br />

    <div class="container justify-content-center">
        <div class="row justify-content-around">
        <div class="col-md-6">
            <a type = "button" class="btn" asp-controller="Oficina" asp-action="CadastrarFuncionario">Cadastrar funcionário</a>
        </div>

        <div class="col-sm-6">
            <a type = "button" href="#" class="btn">Cadastrar cliente</a>
        </div>
      
      <div class="col-sm-6">
            <a href="#" class="btn">Cadastrar oficina</a>
          </div>

      <div class="col-sm-6">
            <a class="btn" asp-controller="Oficina" asp-action="CadastroVeiculo">Cadastrar veículo</a>
          </div>
      </div>

    </div>

    <!-- Footer -->
    <footer class="bg-light text-center fixed-bottom">
    <!-- Copyright -->
    <div class="text-center text-white p-2" style="background-color: #687a86ee">
        © Copyright CRM Auto 2022 </a>
    </div>
    <!-- Copyright -->
    </footer>
