@{
    Layout = "../Shared/_Layout_Cadastro_Funcionario.cshtml";
}

    <div class="container-fluid p-1 rounded" style="background-color: #687A86;">
        <img src="~/img/crmauto.jpg" alt="CRM Auto" width="120" height="70" style="margin-left: 1rem;"></img>
    </div>
    <br />
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Painel de controle da oficina</span>
        </div>
    </nav>
    <br />
    <div class="toast-body" >
        <h6>O que você deseja fazer?</h6>
    </div>
    <br />
   <div class="row">
      <div class="col-sm-6">
        <div class="card border-success mb-3" style="max-width: 1000px">
          <div class="card-body">
            <h5 class="card-title">Cadastrar um funcionário</h5>
            <p class="card-text">Para cadastrar um novo funcionário para a sua oficina, use esta opção.</p>
            <a class="btn btn-outline-success" asp-controller="Oficina" asp-action="CadastrarFuncionario">Cadastrar funcionário</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border-dark mb-3" style="max-width: 1000px">
          <div class="card-body">
            <h5 class="card-title">Cadastrar um cliente</h5>
            <p class="card-text">Para cadastrar um novo cliente, use esta opção.</p>
            <a href="#" class="btn btn-outline-dark">Cadastrar cliente</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border-success mb-3" style="max-width: 1000px">
          <div class="card-body">
            <h5 class="card-title">Cadastrar uma oficina</h5>
            <p class="card-text">Para cadastrar um nova oficina, use esta opção.</p>
            <a href="#" class="btn btn-outline-success">Cadastrar oficina</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border-dark mb-3" style="max-width: 1000px">
          <div class="card-body">
            <h5 class="card-title">Cadastrar um veículo</h5>
            <p class="card-text">Para cadastrar um novo veículo para seu cliente, use esta opção.</p>
            <a class="btn btn-outline-dark" asp-controller="Oficina" asp-action="CadastroVeiculo">Cadastrar veículo</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center fixed-bottom">
    <!-- Copyright -->
    <div class="text-center text-white p-2" style="background-color: #687a86ee">
        © Copyright CRM Auto 2022 </a>
    </div>
    <!-- Copyright -->
    </footer>
