@{
    Layout = "../shared/_Layout.cshtml";
}

<body>

<div class="container-fluid p-1 rounded" style="background-color: #687A86;">
    <img src="\images\crmauto.jpg" alt="CRM Auto" width="120" height="70" style="margin-left: 1rem;"></img>
</div>

<h1> Olá!
  <p>Faça seu login para usar o sistema</p>
</h1>

<div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <a href="../Oficina/LoginColaborador">
        <button class="btn p-5 my-5 border">
          <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-wrench-adjustable-circle" viewBox="0 0 16 16">
            <path d="M12.496 8a4.491 4.491 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11c.027.2.04.403.04.61Z"/>
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-1 0a7 7 0 1 0-13.202 3.249l1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.49 4.49 0 0 1-1.592-.29L4.747 14.2A7 7 0 0 0 15 8Zm-8.295.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27.596-.894Z"/>
          </svg>
          <h3> <br> SOU COLABORADOR DA EMPRESA</h3> 
        </button>
        </a>
      </div>

      <div class="col-sm-6">
        <a href="../Cliente/souCliente" >
        <button class="btn p-5 my-5 border">
          <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <h3> <br> SOU CLIENTE <br> <br> </h3>
        </button>
        </a>
      </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-light text-center fixed-bottom">
<!-- Copyright -->
    <div class="text-center text-white p-2" style="background-color: #687a86ee">
        © Copyright CRM Auto 2022 </a>
  </div>
  <!-- Copyright -->

</footer>

</body>