USE [master]
GO
/****** Object:  Database [CRM_AUTO]    Script Date: 01/05/2022 23:04:55 ******/
CREATE DATABASE [CRM_AUTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRM_AUTO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRM_AUTO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRM_AUTO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRM_AUTO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM_AUTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM_AUTO]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CPF_CNPJ] [varchar](50) NOT NULL,
	[TIPO_PESSOA] [char](1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[APELIDO] [varchar](20) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[USUARIO_CADASTRO] [int] NOT NULL,
	[TELEFONE] [varchar](11) NOT NULL,
	[CELULAR] [varchar](11) NOT NULL,
	[EMAIL_CLIENTE] [varchar](155) NOT NULL,
	[CEP] [char](8) NOT NULL,
	[LOGRADOURO] [varchar](80) NOT NULL,
	[NUMERO] [varchar](6) NOT NULL,
	[COMPLEMENTO] [varchar](30) NULL,
	[BAIRRO] [varchar](40) NOT NULL,
	[CIDADE] [varchar](40) NOT NULL,
	[ESTADO] [char](2) NOT NULL,
	[DATA_ATUALIZACAO] [datetime] NOT NULL,
	[USUARIO_ATUALIZACAO] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CPF_CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_VEICULO]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_VEICULO](
	[ID_CLI_VEICULO] [int] NOT NULL,
	[CPF_CNPJ] [varchar](50) NOT NULL,
	[ID_VEICULO] [int] NOT NULL,
	[VEICULO_ATUAL] [bit] NULL,
 CONSTRAINT [PK_CLIENTE_VEICULO] PRIMARY KEY CLUSTERED 
(
	[ID_CLI_VEICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA_CARRO]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA_CARRO](
	[ID_MARCA] [int] NOT NULL,
	[NOME_MARCA] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ID_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELO_CARRO]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELO_CARRO](
	[ID_MODELO] [int] NOT NULL,
	[ID_MARCA] [int] NOT NULL,
	[NOME_MODELO] [bigint] NOT NULL,
 CONSTRAINT [PK_MODELO_CARRO] PRIMARY KEY CLUSTERED 
(
	[ID_MODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULO_PROGRAMA]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO_PROGRAMA](
	[ID_MODULO] [int] NOT NULL,
	[NOME_MODULO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_MODULO] PRIMARY KEY CLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSAO_USUARIO]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSAO_USUARIO](
	[ID_PERMISSAO] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_MODULO] [int] NOT NULL,
	[CADASTRAR] [bit] NULL,
	[EDITAR] [bit] NULL,
	[CONSULTAR] [bit] NULL,
	[EXCLUIR] [bit] NULL,
 CONSTRAINT [PK_ID_PERMISSAO] PRIMARY KEY CLUSTERED 
(
	[ID_PERMISSAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOME] [varchar](30) NOT NULL,
	[EMAIL_LOGIN] [varchar](155) NOT NULL,
	[SENHA_LOGIN] [varchar](12) NOT NULL,
 CONSTRAINT [PK_ID_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEICULO]    Script Date: 01/05/2022 23:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEICULO](
	[ID_VEICULO] [int] NOT NULL,
	[ID_MODELO] [int] NOT NULL,
	[MOTORIZACAO] [varchar](5) NULL,
	[ANO_FABRICAO] [char](4) NOT NULL,
	[ANO_MODELO] [char](4) NOT NULL,
	[PLACA_VEICULO] [char](7) NOT NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[USUARIO_CADASTRO] [int] NOT NULL,
	[DATA_ATUALIZACAO] [datetime] NOT NULL,
	[USUARIO_ATUALIZACAO] [int] NOT NULL,
 CONSTRAINT [PK_VEICULO_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_VEICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_APELIDO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_APELIDO] ON [dbo].[CLIENTE]
(
	[APELIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DATA_NASCIMENTO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_DATA_NASCIMENTO] ON [dbo].[CLIENTE]
(
	[DATA_NASCIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_CAD]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_CAD] ON [dbo].[CLIENTE]
(
	[USUARIO_CADASTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_UPD]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_UPD] ON [dbo].[CLIENTE]
(
	[USUARIO_ATUALIZACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CPF_CNPJ]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_CPF_CNPJ] ON [dbo].[CLIENTE_VEICULO]
(
	[CPF_CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID_VEICULO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_ID_VEICULO] ON [dbo].[CLIENTE_VEICULO]
(
	[ID_VEICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NOME]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_NOME] ON [dbo].[MARCA_CARRO]
(
	[NOME_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MARCA]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_MARCA] ON [dbo].[MODELO_CARRO]
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NOME_MODELO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_NOME_MODELO] ON [dbo].[MODELO_CARRO]
(
	[NOME_MODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NOME_MODULO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NOME_MODULO] ON [dbo].[MODULO_PROGRAMA]
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_MODULO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_USUARIO_MODULO] ON [dbo].[PERMISSAO_USUARIO]
(
	[ID_USUARIO] ASC,
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EMAIL_LOGIN]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_EMAIL_LOGIN] ON [dbo].[USUARIO]
(
	[EMAIL_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NOME_SENHA_LOGIN]    Script Date: 01/05/2022 23:04:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NOME_SENHA_LOGIN] ON [dbo].[USUARIO]
(
	[EMAIL_LOGIN] ASC,
	[SENHA_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SENHA_LOGIN]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_SENHA_LOGIN] ON [dbo].[USUARIO]
(
	[SENHA_LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ANO_FAB]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_ANO_FAB] ON [dbo].[VEICULO]
(
	[ANO_FABRICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ANO_MOD]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_ANO_MOD] ON [dbo].[VEICULO]
(
	[ANO_MODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DATA_ATUALIZACAO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_DATA_ATUALIZACAO] ON [dbo].[VEICULO]
(
	[DATA_ATUALIZACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DATA_CADASTRO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_DATA_CADASTRO] ON [dbo].[VEICULO]
(
	[DATA_CADASTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PLACA]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_PLACA] ON [dbo].[VEICULO]
(
	[PLACA_VEICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_ATUALIZACAO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_ATUALIZACAO] ON [dbo].[VEICULO]
(
	[USUARIO_ATUALIZACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_CADASTRO]    Script Date: 01/05/2022 23:04:56 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_CADASTRO] ON [dbo].[VEICULO]
(
	[USUARIO_CADASTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_TIPO_PESSOA]  DEFAULT ('') FOR [TIPO_PESSOA]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_NOME]  DEFAULT ('') FOR [NOME]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_APELIDO]  DEFAULT ('') FOR [APELIDO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_data_nascimento]  DEFAULT ('') FOR [DATA_NASCIMENTO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_data_cadastro]  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_telefone]  DEFAULT ('') FOR [TELEFONE]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_celular]  DEFAULT ('') FOR [CELULAR]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_email_cliente]  DEFAULT ('') FOR [EMAIL_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_logradouro]  DEFAULT ('') FOR [LOGRADOURO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_numero]  DEFAULT ('') FOR [NUMERO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_complemento]  DEFAULT ('') FOR [COMPLEMENTO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_bairro]  DEFAULT ('') FOR [BAIRRO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_cidade]  DEFAULT ('') FOR [CIDADE]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_estado]  DEFAULT ('') FOR [ESTADO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_data_atualizacao]  DEFAULT (getdate()) FOR [DATA_ATUALIZACAO]
GO
ALTER TABLE [dbo].[CLIENTE_VEICULO] ADD  CONSTRAINT [DF_CLIENTE_VEICULO_VEICULO_ATUAL]  DEFAULT ((0)) FOR [VEICULO_ATUAL]
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO] ADD  CONSTRAINT [DF_PERMISSAO_USUARIO_ID_MODULO]  DEFAULT ((0)) FOR [ID_MODULO]
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO] ADD  CONSTRAINT [DF_PERMISSAO_USUARIO_CADASTRAR]  DEFAULT ((0)) FOR [CADASTRAR]
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO] ADD  CONSTRAINT [DF_PERMISSAO_USUARIO_EDITAR]  DEFAULT ((0)) FOR [EDITAR]
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO] ADD  CONSTRAINT [DF_PERMISSAO_USUARIO_CONSULTAR]  DEFAULT ((0)) FOR [CONSULTAR]
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO] ADD  CONSTRAINT [DF_PERMISSAO_USUARIO_EXCLUIR]  DEFAULT ((0)) FOR [EXCLUIR]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_veiculo_cliente_motorizacao]  DEFAULT ('') FOR [MOTORIZACAO]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_veiculo_cliente_ano_fabricao]  DEFAULT ('') FOR [ANO_FABRICAO]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_veiculo_cliente_ano_modelo]  DEFAULT ('') FOR [ANO_MODELO]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_veiculo_cliente_placa_veiculo]  DEFAULT ('') FOR [PLACA_VEICULO]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_VEICULO_CLIENTE_DATA_CADASTRO]  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[VEICULO] ADD  CONSTRAINT [DF_VEICULO_CLIENTE_DATA_ATUALIZACAO]  DEFAULT (getdate()) FOR [DATA_ATUALIZACAO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_USUARIO_CAD] FOREIGN KEY([USUARIO_CADASTRO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_USUARIO_CAD]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_USUARIO_UPD] FOREIGN KEY([USUARIO_ATUALIZACAO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_USUARIO_UPD]
GO
ALTER TABLE [dbo].[CLIENTE_VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_VEICULO_CLIENTE] FOREIGN KEY([CPF_CNPJ])
REFERENCES [dbo].[CLIENTE] ([CPF_CNPJ])
GO
ALTER TABLE [dbo].[CLIENTE_VEICULO] CHECK CONSTRAINT [FK_CLIENTE_VEICULO_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTE_VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_VEICULO_VEICULO] FOREIGN KEY([ID_VEICULO])
REFERENCES [dbo].[VEICULO] ([ID_VEICULO])
GO
ALTER TABLE [dbo].[CLIENTE_VEICULO] CHECK CONSTRAINT [FK_CLIENTE_VEICULO_VEICULO]
GO
ALTER TABLE [dbo].[MODELO_CARRO]  WITH CHECK ADD  CONSTRAINT [FK_MODELO_CARRO_MARCA_CARRO] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA_CARRO] ([ID_MARCA])
GO
ALTER TABLE [dbo].[MODELO_CARRO] CHECK CONSTRAINT [FK_MODELO_CARRO_MARCA_CARRO]
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSAO_USUARIO_MODULO_PROGRAMA] FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[MODULO_PROGRAMA] ([ID_MODULO])
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO] CHECK CONSTRAINT [FK_PERMISSAO_USUARIO_MODULO_PROGRAMA]
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSAO_USUARIO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PERMISSAO_USUARIO] CHECK CONSTRAINT [FK_PERMISSAO_USUARIO_USUARIO]
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEICULO_MODELO_CARRO] FOREIGN KEY([ID_MODELO])
REFERENCES [dbo].[MODELO_CARRO] ([ID_MODELO])
GO
ALTER TABLE [dbo].[VEICULO] CHECK CONSTRAINT [FK_VEICULO_MODELO_CARRO]
GO
USE [master]
GO
